.title {
    display: flex;
    justify-content: center;
}

.card-body {
    background-color: rgba(221, 199, 214, 0.493);
    box-shadow: 10px 10px 5px 5px rgb(0 0 0 / 20%);
    border-radius: 0px;
}

.title {
    text-align: center;
    margin: 50px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
}

.cardList .categoriesLists {
    display: flex;
    border: 4px solid rgb(211 188 165);
    background-color: #e9daccc2;
    border-radius: 8px;
    box-shadow: 10px 10px 5px 5px rgb(0 0 0 / 20%);
    margin-left: 2rem;
    margin-bottom: 50px;
}

.cardList .categoriesLists .lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}

.cardList .categoriesLists .lists .headList {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-bottom: 10px;
}

.cardList .categoriesLists .lists .headList .listTitle {
    margin-bottom: 0 !important;
}

.cardList .categoriesLists .lists .inputTask {
    margin-bottom: 10px;
    text-align: center;
}

.cardList .categoriesLists .lists .inputTask form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cardList .categoriesLists .lists .categoriesTickets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 10px 0;
}

.cardList .categoriesLists .lists .categoriesTickets .iconTicket {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 10px;
}
.erreur{
    text-align: center;
    color: red;
}